# Ignore node_modules directory
node_modules/

# Ignore environment variable files
.env
.env.local

# Ignore log files
*.log
logs/

# Ignore build directories
dist/
build/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.idea/
.vscode/
*.iml